

.header-nav__search{
    height: 32px;
    display: flex;
    align-items: center;
}

.form-search{
    flex: 1;
}

.form__input-search{
    height: 32px;
    width: 480px;
    box-sizing: border-box;
    font-size: 14px;
}

.header-nav__link{
    margin-right: 24px;
}

.header-nav__link-list{
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    align-items: center;
    height: 32px;
}

a{
    display: inline-block;
    align-content: center;
    text-align: center;
    height: 32px;
}

.header-nav__link-logout,
.header-nav__link-mypage{
    color: #FFFFFF;
    text-decoration: none;
    width: 80px;
}

.header-nav__link-sell{
    text-decoration: none;
    background-color: #FFFFFF;
    color: #000000;
    width: 56px;
    border-radius: 3px;
}