.header-nav__search {
    height: 32px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 540px;
}

.form-search {
    flex: 1;
}

.form__input-search {
    height: 40px;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
}

.header-nav__link {
    margin-right: 40px;
}

.header-nav__link-list {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    align-items: center;
}

a {
    display: inline-block;
    align-content: center;
    text-align: center;
    height: 32px;
}

.header-nav__link-mypage {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    width: 80px;
}

button.header-nav__link-logout {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.header-nav__link-login {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}
.header-nav__link-sell {
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    width: 56px;
    font-size: 16px;
    border-radius: 3px;
}

.tab__content-item {
    display: flex;
    flex-direction: column;
    margin: 32px;
}

.item-link {
    display: block;
    height: auto;
}

.item-image-wrapper {
    position: relative;
    display: inline-block;
}

.tab__content img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 2px;
}

.sold-overlay {
    position: absolute;
    top: 12px;
    left: -40px;
    background-color: #e60023;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    padding: 4px 50px;
    text-align: center;
    transform: rotate(-45deg);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    z-index: 10;
}

.tab__content img:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.item-name {
    text-align: left;
    font-size: 16px;
    margin: 4px 0;
}

@media (max-width: 850px) {
    .header-nav__link-list {
        gap: 8px;
    }

    .form__input-search {
        height: 32px;
        box-sizing: border-box;
        font-size: 12px;
    }

    .header-nav__link {
        margin-right: 8px;
    }

    .header-nav__search {
        height: 32px;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 260px;
    }

    button.header-nav__link-logout,
    .header-nav__link-mypage,
    .header-nav__link-sell,
    .header-nav__link-login {
        font-size: 14px;
    }

    .sold-overlay {
        top: 12px;
        left: -24px;
        font-size: 10px;
        padding: 2px 24px;
    }
}
