body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
}

main {
    height: calc(100vh - 64px);
    max-width: 1540px;
    min-width: 1400px;
}

.header {
    background-color: #000000;
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    margin-left: 40px;
}

.header__logo-img {
    width: 300px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    min-inline-size: auto;
    box-sizing: border-box;
    display: block;
}

.error-message {
    color: #d32f2f;
    font-size: 12px;
    margin: 8px 0;
}

.form__input.is-invalid {
    border: 2px solid #e63946;
    background-color: #ffe5e5;
    border-radius: 3px;
}

@media (max-width: 850px) {
    main {
        min-width: auto;
        width: 100%;
    }

    .header {
        height: 48px;
    }

    .header__logo-img {
        width: 180px;
    }

    .header__logo {
        margin-left: 24px;
    }
}
