.container {
    display: flex;
    width: 100%;
}

.chat-sidebar {
    width: 15%;
    background-color: #868686;
    overflow-y: auto;
}

.sidebar-title {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    margin-top: 8px;
}

.item-list-container {
    list-style: none;
    padding: 0;
    margin: 12px;
}

.item-list {
    background-color: #eeefeb;
    border-radius: 4px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.item-link {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.chat-main {
    width: 85%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px);
}

.chat-title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    justify-content: space-between;
}

.chat-title__label {
    display: flex;
}

.image--avatar {
    border-radius: 50%;
    width: 78px;
    height: 78px;
    margin: 8px 16px;
}

.chat-title__partner {
    font-weight: bold;
    font-size: 28px;
}

.complete-button {
    margin-right: 32px;
    font-weight: bold;
    font-size: 16px;
    background-color: #ff8282;
    color: #ffffff;
    border: none;
    border-radius: 24px;
    height: 40px;
    width: 150px;
    cursor: pointer;
}

.item-detail {
    display: flex;
    border-bottom: 1px solid #000;
}

.item-detail__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image--items {
    width: 120px;
    height: 120px;
    padding: 8px 24px;
}

.item-name {
    font-weight: bold;
    font-size: 32px;
}

.item-price {
    font-size: 28px;
    margin: 8px 0;
}

.enmark {
    font-size: 24px;
}

.chat-view {
    flex: 1;
    overflow-y: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.chat-user {
    display: flex;
    align-items: center;
}

.chat-message {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.chat-message--mine .chat-user {
    justify-content: flex-end;
}

.chat-message--mine {
    align-self: flex-end;
    text-align: left;
}

.chat-message--partner {
    align-self: flex-start;
}

.chat-user-name {
    font-weight: bold;
    font-size: 16px;
    margin: 0 14px;
}

.image--avatar-small {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.chat-body {
    background-color: #d9d9d9;
    border-radius: 4px;
    padding: 8px;
    width: 600px;
    margin: 8px 0;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
}

.chat-img {
    width: 300px;
    display: block;
}

.chat-message--mine .chat-img {
    margin-left: auto;
}

.chat-form {
    padding: 0 16px 32px;
    display: flex;
    flex-direction: column;
    height: 64px;
    flex-shrink: 0;
}

.form__input-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.form__input {
    margin: 0 18px 0 24px;
    height: 34px;
    padding: 8px 10px;
    flex: 1;
    width: 100%;
    min-width: 0;
    border: 1px solid #5f5f5f;
    border-radius: 2px;
    resize: none;
    font-size: 14px;
    box-sizing: border-box;
}

.chat-action {
    display: flex;
    justify-content: flex-end;
}

.chat-action__edit,
.form__button-submit--delete {
    border: none;
    background: none;
    margin: 8px;
    color: #5f5f5f;
    font-size: 12px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.error-area {
    padding-left: 28px;
    min-height: 32px;
}

.error-area:empty {
    visibility: hidden;
}

.form__button-upload {
    cursor: pointer;
    border: 2px solid #ff5555;
    border-radius: 10px;
    color: #ff5555;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 12px;
    margin-right: 18px;
}

.form__input-img {
    display: none;
}

.form__button-submit {
    background: transparent;
    border: none;
    padding: 0 24px 0 0;
    cursor: pointer;
}

.form__button-submit--img {
    height: 32px;
    text-decoration: none;
}

.review-stars {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.review-modal__container,
#review-modal__mask {
    display: none;
}

.review-modal__container.is-active,
#review-modal__mask.is-active {
    display: block;
}

.review-modal__container {
    width: 90%;
    max-width: 420px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fdfce6;
    border-radius: 8px;
    z-index: 1001;
    border: 1px solid #000;
}

#review-modal__mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

.review-title,
.review-content {
    border-bottom: 1px solid #000;
    padding: 12px 12px;
}

.review-star {
    font-size: 68px;
    cursor: pointer;
    color: #d9d9d9;
}

.review-star.is-active {
    color: #fff048;
}

.review-title__message {
    font-size: 24px;
    margin: 0;
}

.review-content__message {
    color: #868686;
    font-size: 14px;
    margin: 0;
}

.review-form {
    padding: 8px;
    display: flex;
    justify-content: flex-end;
}

#review-modal__close {
    background-color: #ff8282;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}

@media (max-width: 850px) {
    .chat-main {
        height: calc(100vh - 48px);
        width: 75%;
    }

    .chat-sidebar {
        width: 25%;
    }

    .sidebar-title {
        font-size: 18px;
    }

    .item-link {
        font-size: 14px;
    }

    .image--avatar {
        width: 54px;
        height: 54px;
    }

    .chat-title__partner {
        font-size: 18px;
        margin: auto;
    }

    .complete-button {
        font-size: 14px;
        width: 140px;
    }

    .image--items {
        width: 100px;
        height: 100px;
    }

    .item-name {
        font-size: 24px;
    }

    .item-price {
        font-size: 22px;
        margin: 4px 0;
    }

    .enmark {
        font-size: 20px;
    }
    .chat-body {
        width: 320px;
        margin: 4px 0;
    }

    .chat-user-name {
        font-size: 14px;
        margin: 0 12px;
    }
    .image--avatar-small {
        width: 48px;
        height: 48px;
    }

    .chat-img {
        width: 240px;
    }

    .chat-form {
        padding: 0 12px 24px;
    }

    .form__button-upload {
        margin-right: 12px;
    }

    .form__button-submit {
        padding: 0;
    }
}
