.profile {
    display: flex;
    margin: 32px 200px;
    align-items: center;
    justify-content: space-between;
}

.profile-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 48px;
}

.image--avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.name {
    font-weight: bold;
    font-size: 20px;
    margin: 12px 0;
}

.rating {
    display: inline-flex;
    gap: 2px;
}

.star {
    font-size: 20px;
}

.star--active {
    color: #FFF048;
}

.star--inactive {
    color: #D9D9D9;
}

.profile__edit-button {
    color: #ff5555;
    border: 2px solid #ff5555;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    background: none;
    width: 200px;
}

.tab__label label:nth-child(1) {
    margin-left: 140px;
}

.tab__label {
    padding-bottom: 8px;
    border-bottom: 2px solid #5f5f5f;
}

.tab__label-input {
    appearance: none;
}

.tab__label label {
    cursor: pointer;
    margin-right: 56px;
    font-size: 16px;
    font-weight: bold;
    color: #5f5f5f;
}

.tab__content {
    display: none;
    margin: 32px auto;
    padding: 0 24px;
    grid-template-columns: repeat(4, 1fr);
}

#tab1:checked ~ .tab__label label[for="tab1"] {
    color: #ff0000;
}

#tab1:checked ~ #content1 {
    display: grid;
}

#tab2:checked ~ .tab__label label[for="tab2"] {
    color: #ff0000;
}
#tab2:checked ~ #content2 {
    display: grid;
}

#tab3:checked ~ .tab__label label[for="tab3"] {
    color: #ff0000;
}
#tab3:checked ~ #content3 {
    display: grid;
}

.item-image-wrapper {
    position: relative;
}

.tab-badge {
    background-color: #FF0000;
    color: #FFF;
    display: inline-flex;
    width: 24px;
    height: 24px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.unread-badge {
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 10;
}

.unread-count{
    background-color: #FF0000;
    border-radius: 50%;
    color: #FFF;
    font-size: 14px;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 850px) {
    .image--avatar {
        width: 80px;
        height: 80px;
    }

    .name {
        font-size: 18px;
    }

    .profile__edit-button{
        width: 140px;
        font-size: 12px;
    }

    .profile-content{
        gap: 24px;
    }

    .profile {
        margin: 24px 86px;
    }

    .tab__label label {
        font-size: 14px;
        margin-right: 32px;
    }

    .tab__label label:nth-child(1) {
        margin-left: 80px;
    }

    .tab__content {
        margin: 12px auto;
    }

    .tab__content-item {
        margin: 12px;
    }

    .item-name {
        font-size: 14px;
    }
}
