.content {
    margin: 80px;
}

.form {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.form__left {
    padding-right: 80px;
}

.form-group__item {
    display: flex;
    border-bottom: 1px solid #000000;
    padding-bottom: 48px;
}

.tab__content-item {
    margin: 0;
}

select#payment {
    margin: 32px;
    height: 32px;
    width: 340px;
}

.form-group__payment {
    border-bottom: 1px solid #000000;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.form-group__item {
    border-bottom: 1px solid #000000;
}

.image--items {
    width: 240px;
    height: 240px;
    margin-right: 60px;
}

p.item-name {
    display: none;
}

.item__price-label {
    font-size: 16px;
    margin: 24px 0;
}

.item-price {
    font-size: 24px;
}

.item-info {
    display: flex;
    flex-direction: column;
}

.form__label--item-name {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}
.form__label--title {
    font-weight: bold;
    font-size: 20px;
}

option {
    background-color: #636769;
}

section.form-group__address {
    margin: 32px;
    justify-content: space-between;
}

p.form__label {
    display: flex;
    justify-content: space-between;
}
.form-group__content {
    font-size: 20px;
    font-weight: bold;
    padding: 0 56px;
}

.address-change__link {
    color: #0073cc;
    font-size: 20px;
    text-decoration: none;
}

p.postcode {
    margin: 8px 0;
}

p.address {
    margin: 16px 0;
}

.form-group__table {
    width: 100%;
    font-size: 20px;
    border-collapse: collapse;
    table-layout: fixed;
}

tr {
    height: 100px;
}

th,
td {
    border: 1px solid #000000;
    font-weight: normal;
    width: 50%;
    text-align: center;
    vertical-align: middle;
}

.form-group__table td {
    border-left: none !important;
}

.form-group__table th {
    border-right: none !important;
}

.form__button {
    margin-top: 48px;
}

.form__button-submit {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    background-color: #ff5555;
    color: #ffffff;
    font-weight: bold;
    border: none;
    font-size: 16px;
}

.form__button-submit:hover {
    transform: translateY(-5px);
}

@media (max-width: 850px) {
    .content {
        margin: 32px;
    }

    .form {
        grid-template-columns: 1.1fr 1fr;
        gap: 32px;
    }

    .form-group__item {
        padding-bottom: 24px;
    }

    .image--items {
        width: 180px;
        height: 180px;
        margin-right: 32px;
    }

    .item__price-label {
        margin: 8px 0;
    }
    .form-group__payment {
        padding: 16px;
    }

    .form__label--title {
        font-size: 18px;
    }

    select#payment {
        margin: 24px;
    }

    section.form-group__address {
        margin: 0;
        padding: 16px;
    }

    p.form__label {
        margin: 0;
    }

    .address-change__link {
        font-size: 16px;
    }

    .form-group__content {
        font-size: 16px;
        padding: 0 24px;
    }

    .form-group__table {
        font-size: 16px;
    }

    tr {
        height: 80px;
    }

    .item-price {
        font-size: 18px;
    }

    .form-group__table td {
        font-size: 14px;
    }

    .form__left {
        padding-right: 0;
    }
}
