.content {
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    column-gap: 80px;
    margin: 48px auto;
    max-width: 1400px;
}

.item__img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    justify-self: center;
    overflow: hidden;
}

.image--items {
    width: 90%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center top;
    margin: 24px auto;
}

.item-image-wrapper {
    position: relative;
    width: 100%;
    padding: 24px;
}

.tab__content-item {
    display: flex;
    flex-direction: column;
    margin: 32px 0 0 80px;
}

.item__details {
    padding: 0 80px 0 40px;
}

h2 {
    font-size: 40px;
    margin: 0;
}

.item__brand-label {
    margin: 8px 0 0;
}

.item__price-label {
    font-size: 24px;
    margin: 8px 0;
}

.item-price {
    font-size: 40px;
}

.item__review-summary {
    display: flex;
    margin: 16px;
    padding-left: 32px;
    gap: 48px;
}

.item__review-favorite,
.item__review-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.no-app-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    text-decoration: none;
    border: none;
    outline: none;
    appearance: none;
}

img.star,
img.star-liked,
img.comment-icon {
    display: block;
    height: 32px;
    width: 32px;
}

.star {
    filter: grayscale(100%) brightness(0.8);
    transition: filter 0.3s ease;
}

.star-liked {
    filter: invert(84%) sepia(74%) saturate(1537%) hue-rotate(0deg)
        brightness(102%) contrast(102%);
    transition: filter 0.3s ease;
}

.review-count {
    text-align: center;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.form-order {
}

.form {
}

.form__button {
}

.form__button-submit {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    background-color: #ff5555;
    color: #ffffff;
    font-weight: bold;
    border: none;
    font-size: 16px;
}

.form__button-submit:hover {
    transform: translateY(-5px);
}

.item__description,
.item__information {
    margin: 24px 0;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

.item__description-content {
}

.item__information-label {
}

dd {
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    margin: 0;
    padding: 8px 0;
}

.item__information-content--category {
    font-size: 14px;
    font-weight: normal;
    margin-left: 16px;
}

.item__information-content--condition {
    font-size: 14px;
    font-weight: normal;
    margin-left: 32px;
}

.category-name {
    margin-right: 16px;
    background-color: #d9d9d9;
    padding: 2px 8px;
    border-radius: 32px;
}

.item__review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
}

.item__review-posted--label {
    color: #5f5f5f;
    margin: 0 0 24px;
}

.item__review-posted {
    width: 100%;
    margin: 0;
}

.image--avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.item__review-user {
    display: flex;
    align-items: center;
}

.user-name {
    font-weight: bold;
    margin-left: 16px;
}

.item__review-posted--content {
    background-color: #e5e5e5;
    padding: 12px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.item__review-posted {
    width: 100%;
}

.item__comment-preview {
}

.item__comment-label {
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
}

textarea.item__comment-content {
    width: 100%;
    box-sizing: border-box;
    height: 120px;
    border: 2px solid #5f5f5f;
    border-radius: 3px;
    margin: 8px 0 32px;
    padding: 12px;
    font-size: 14px;
}

.sold-overlay {
    position: absolute;
    top: 56px;
    left: -32px;
    background-color: #e60023;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 8px 70px;
    text-align: center;
    transform: rotate(-45deg);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    z-index: 10;
}

.item-name {
    display: none;
}
