.tab__label label:nth-child(1) {
    margin-left: 140px;
}

.tab__label{
    margin-top: 24px;
    padding-bottom: 8px;
    border-bottom: 2px solid #5F5F5F;
}

.tab__label-input{
    appearance: none;
}

.tab__label label{
    cursor: pointer;
    margin-right: 56px;
    font-size: 16px;
    font-weight: bold;
    color: #5F5F5F;
}

.tab__content{
    display: none;
    margin: 32px auto;
    padding: 0 24px;
    grid-template-columns: repeat(4, 1fr);
}

.item-link{
    display: block;
    height: auto;
}

.tab__content img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 2px;
}

.tab__content img:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.item-name{
    text-align: left;
    font-size: 16px;
    margin: 4px 0;
}


#tab1:checked ~ .tab__label label[for="tab1"]{
    color: #FF0000;
}

#tab1:checked ~  #content1{
    display: grid;
}

#tab2:checked ~ .tab__label label[for="tab2"]{
    color: #FF0000;
}
#tab2:checked ~ #content2{
    display: grid;
}

@media (max-width: 850px) {
    .tab__label label {
        font-size: 14px;
        margin-right: 32px;
    }

    .tab__label label:nth-child(1) {
        margin-left: 80px;
    }

    .tab__content {
        margin: 12px auto;
    }

    .tab__content-item {
        margin: 12px;
    }

    .item-name {
        font-size: 14px;
    }
}
